pyarrow<0.16
apache-beam<2.18
google-resumable-media==0.5.0
black
flake8
google-cloud-storage
google-cloud-bigquery
pydicom
tensorflow-transform
tfx
tensorflow
tensorflow-datasets
pandas
gcsfs
apache-beam[gcp]
